<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @locker.size %>
</p>

<p>
  <strong>Bags:</strong>
  <%= @locker.bags.map(&:size) %>
</p>

<% if @locker.bags.any? %>
  <%= link_to "Remove Bag", empty_locker_path %>
<% end %>

<br>
<br>
